/*default version*/
@font-face {
	font-family: 'Lalezar';
	/*src: url('fonts/Lalezar_font.eot'); */
	src: 
		/*local('Lovely Font'),*/
		/*local('Lovely-Font'),*/
		url('fonts/Lalezar/Lalezar-Regular.ttf') 
		format('opentype');
}

html, body
{
    height: 100%;
}

body {
	margin: 0;
	background-color: #111;
	font-family: sans-serif;
}

.cont.shy {
	display: none;
}

.heading {
	margin: 0;
	text-align: center;
	font-size: 65px;
	padding: 25px 40px;
	/*font-family: 'Lalezar', cursive;*/
	font-family: 'Lalezar', sans-serif; 
	/*font-family: sans-serif; */
}

#cont {
	height: 100%;
	/*min-height:100%;*/
}

#trailer {
	/*padding-top: 85px;*/
	text-align: center;
}

#trailer .heading {
	
	background-color: #061927;
	color: #2b8a9f;
	/*font-weight: normal;*/
}

#about {
	/*opacity: 0;*/
	color: #061927;
}

#about .heading {
	background-color: #2b8a9f;
	text-align: center;
	padding: 20px 0;
}

#about .content {
	background-color: #222;
	color: #2b8a9f;
}

#about .content div {
	padding: 20px;
}

#sakula .heading {
	background-color: #061927;
	color: #2b8a9f;
}

#sakula .content {
	background-color: #222;
	color: #2b8a9f;
}

#sakula .content div {
	padding: 20px;
}

